{:input {:fact-result {:primary_crt {:expiration-days 20}
                       :nonvalid_crt {:expiration-days 20}}
         :test-config {:primary_crt {:expiration-days 30}
                       :nonvalid_crt {:expiration-days 30}}}
 :expected 2}