{:input {:iproute [{:ip "1.1.1.1" :via "172.17.0.1"}
                   {:hostname "domaindrivenarchitecture.org" :via "172.17.0.1"}]
         :netstat [{:process-name "sshd" :port "22" :ip "0.0.0.0"}
                   {:process-name "sshd" :port "22" :ip ":::"}
                   {:process-name "sshd" :port "11" :exp-proto "tcp7" :running? false}]
         :package [{:name "firefox" :installed? false}]
         :file [{:path "/root" :group "root"}
                {:path "/etc" :exist? true :user "root"}
                {:path "/absent" :exist? false}
                {:path "/root/.ssh"}
                {:path "/root/.profile" :exist? false :mod "644"}]
         :netcat [{:host "www.google.com" :port 80}
                  {:host "www.google.c" :port 80 :reachable? false}]}
 :expected {:dda-servertest
            {:iproute-fact {:1_1_1_1 {:ip "1.1.1.1" :version 4}
                            :195_201_136_96 {:ip "195.201.136.96" :version 4}}
             :iproute-test {:1_1_1_1 {:via "172.17.0.1", :source "1.1.1.1" :version 4}
                            :195_201_136_96 {:via "172.17.0.1",:source "domaindrivenarchitecture.org" :version 4}}
             :package-fact nil
             :package-test {:firefox {:installed? false}}
             :netstat-fact nil
             :netstat-test {:sshd_0.0.0.0_22 {:port "22" :running? true :ip "0.0.0.0"}
                            :sshd_____22 {:port "22" :ip ":::" :running? true}
                            :sshd_11 {:port "11" :exp-proto "tcp7" :running? false}}
             :netcat-fact {:www.google.com_80_8 {:host "www.google.com" :port 80 :timeout 8}
                           :www.google.c_80_8 {:host "www.google.c" :port 80 :timeout 8}}
             :file-fact {:_root {:path "/root"}
                         :_etc {:path "/etc"}
                         :_absent {:path "/absent"}
                         :_root_.ssh {:path "/root/.ssh"}
                         :_root_.profile {:path "/root/.profile"}}
             :file-test {:_root {:exist? true :group "root"}
                         :_etc {:exist? true :user "root"}
                         :_absent {:exist? false}
                         :_root_.ssh {:exist? true}
                         :_root_.profile {:exist? false :mod "644"}}
             :netcat-test {:www.google.com_80_8 {:reachable? true}
                           :www.google.c_80_8 {:reachable? false}}}}}