{:input {:fact-result {:_etc_hosts {:path "/etc/hosts" :fact-exist? true}
                       :_root_.ssh_authorized_keys {:path "/root/.ssh/authorized_keys" :fact-exist? false}}
         :test-config {:_etc_hosts {:exist? true}
                       :_root_.ssh_authorized_keys {:exist? false}}}
 :expected {:test-passed true
            :test-message
            "test file: _etc_hosts, expected:: exists?: true - found facts:: exist?: true, mod: , user: , group: , type: , link-to:  - passed?: true\ntest file: _root_.ssh_authorized_keys, expected:: exists?: false - found facts:: exist?: false - passed?: true\n"
            :no-passed 2
            :no-failed 0
            :input
            {:_etc_hosts {:path "/etc/hosts", :fact-exist? true}
             :_root_.ssh_authorized_keys
             {:path "/root/.ssh/authorized_keys", :fact-exist? false}}
            :summary "PASSED, tests failed: 0, tests passed: 2"}}