{:input {:fact-result {:_etc_hosts {:path "/etc/hosts"
                                    :fact-exist? true
                                    :fact-created "1"
                                    :fact-type "2"
                                    :fact-accessed "3"
                                    :fact-mod "4"
                                    :fact-group "5"
                                    :fact-modified "6"
                                    :fact-user "7"
                                    :fact-size-in-bytes 8
                                    :fact-link-to "9"}
                       :_root_.ssh_authorized_keys {:path "/root/.ssh/authorized_keys" :fact-exist? false}}
         :test-config {}}
 :expected {:test-passed true
            :test-message ""
            :no-passed 0
            :no-failed 0
            :input
            {:_etc_hosts 
             {:path "/etc/hosts", :fact-exist? true
              :fact-created "1"
              :fact-type "2"
              :fact-accessed "3"
              :fact-mod "4"
              :fact-group "5"
              :fact-modified "6"
              :fact-user "7"
              :fact-size-in-bytes 8
              :fact-link-to "9"}
             :_root_.ssh_authorized_keys
             {:path "/root/.ssh/authorized_keys", :fact-exist? false}}
            :summary "PASSED, tests failed: 0, tests passed: 0"}}